@import url('https://fonts.googleapis.com/css2?family=Girassol&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Girassol, Open Sans;
    font-weight: 400;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    color:black;
    background-color: rgb(212, 211, 204) !important;
}

h1, h2, h3 {
    font-family: Girassol, Open Sans;
    color: black;
}

/* Header */

#home {
    background: url('../images/bmw-header-photo.jpg') no-repeat center center;
    opacity: 0.5;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    
}

header {
    padding: top 30px;
    min-height: 70px;
}

header h1 {
    font-size: 400%;
    color: black;
}

header p {
    color: black;
}
.page-header {
    width: 100%;
    height: 50%;
    background: center;
    text-align: center;
    overflow: hidden;
   font-size: 200%;
   opacity: 1;

}

/* Navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 4px;
    text-transform: uppercase;
}

 #menu li{
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a ;
}

/* Who we are section */

#about-us {
    height: 150px;
    text-align: left;
    margin: 20px;
}

#about-us .intro {
    font-size: 300%;
}
#about-us p {
    font-size: 120%;
}

/* Main section */

.wrapper {
    width: 600px;
    height: 400px;
    padding: 0;
    border-style: solid;
    border-color: rgb(32, 32, 32);
    border-width: 1px;
    float: right;
    margin-right: 10px;
}
#polish-image {
    background: url('../images/man-polish-car-garage_1157-36574.jpg') no-repeat center center;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
}

/* services section */

#services {
    height: 300px;
    text-align: center;
}
#services h2 {
    font-size: 300%;
}
#services li {
    list-style-type:none;
    padding: 15px;
}

#call-in {
    height: 150px;
    text-align: center;
}
#call-in h2 {
    font-size: 300%;
}
#call-in p {
    font-size: 120%;
}
