@import url('https://fonts.googleapis.com/css2?family=Girassol&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Girassol, Open Sans;
    font-weight: 400;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    color:black;
    background-color: rgb(212, 211, 204) !important;
}

h1, h2, h3 {
    font-family: Girassol, Open Sans;
    color: black;
}

/* Header */

#home {
    background: url('../images/bmw-header-photo.jpg') no-repeat center center;
    background-color: #3a3a3a;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    overflow: hidden; 
}
header {
    padding: top 30px;
    min-height: 70px;
}
header h1 {
    font-size: 400%;
    color: black;
}

header p {
    color: black;
}
.page-header {
    width: 100%;
    height: 50%;
    background: center;
    text-align: center;
    overflow: hidden;
   font-size: 200%;

}

/* Navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 4px;
    text-transform: uppercase;
}

 #menu li{
    float: right;
    list-style-type: none;
    margin-right: 10px;
    padding-top: 140px;
}

#menu a {
    text-decoration: none;
    color: #1aa2cc;
}

#menu a:hover {
    border-bottom: 1px solid #1a6dcc;
    background-color: #050505;
}

.active {
    border-bottom: 1px solid #1a6dcc ;
}

/* Who we are section */

#about-us {
    height: 300px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 50px;
    background-color: #4e4b4b;
}

#about-us h2 {
    font-size: 300%;
}
#about-us p {
    font-size: 120%;
    color: #F0F8FF
}

/* Main section */

#services {
    background: url('../images/man-polish-car-garage_1157-36574.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #4e4b4b;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin: 0 10 0 10;
}
.wrapper {
    text-align: center;
}
.wrapper h2 {
    font-size: 400%;
}
.wrapper h4 {
    font-size: 150%;
    padding: 5px;
}

/* services section */


/* Call in service */
#call-in {
    width: 100%;
    height: 300px;
   margin-top: 10px;
   margin-bottom: 10px;
    text-align: left;
    padding-top: 50px;
    color: #F0F8FF;
    background-color: #4e4b4b;
}
#call-in h2 {
    font-size: 300%;
}
#call-in p {
    font-size: 120%;
}

/* Footer */
#social-links {
    background-image: url('../images/pexels-alexander-ant-4585185.jpg');
    background-color: #4e4b4b;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}
.social-networks i {
    font-size: 250%;
   margin-top: 10px;
   padding: 5%;
    color: #e0d9d9;
}
